@media all and (min-width: 480px) {
    .Login {
      padding: 60px;
      position: absolute;
      left: 40%;
      top: 20%;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login span {
      cursor: pointer;
    }
  }
  